* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SIMULAR CSS START */

    body {
        font-family: 'Montserrat', sans-serif;
    }

    ul li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: #ffffff;
    }

/* SIMULAR CSS END */

/* HEADER AREA START */

    /* NAVBER START */


    .logo {
        color: #ffffff;
        padding-left: 150px;
    }
    .manue-iteam {
        padding-right: 150px;
    }

    .navber-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(#30336b,#D980FA,#130f40);
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
    }
    .navber-area>ul {
        display: flex;
    }
    .navber-area>ul>li>a {
        padding: 20px;
        font-weight: bold;
        display: inline-block;
        transition: 0.5s;
    }
    .navber-area>ul>li:hover >a {
        background-color: #0c2461;
    }
    .navber-area .manue-iteam .last-child>a {
       padding-right: 0;
    }
    .dropdown-manue {
        background-color: #0c2461;
        text-align: center;
        position: absolute;
        width: 141px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        transform: scaleY(0);
        transform-origin: top;
        border-radius: 0 0 8px 8px;
    }
    .dropdown-manue-skil {
        width: 77px;
    }
    .dropdown-manue>li>a {
        padding: 10px;
        display: inline-block;
        font-weight: bold;
    }
    .navber-area>ul>li:hover >ul {
        opacity: 1;
        visibility: visible;
        transform: scaley(1);
    }
    .dropdown-manue>li:hover{
        background-image: linear-gradient(#30336b,#D980FA,#130f40);
    }



   /* navber end  */ 


   /* hero area start  */



    .header {
        background-image:linear-gradient(rgba(0, 0, 0, 0.591),rgba(0, 0, 0, 0.612)), url(images/Untitled\ design\ \(1\).png) ;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 50px;
    }
    .baner {
        color: #ffffff;
        text-align: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: grid;
        place-content: center;
        padding-left: 150px;
        padding-right: 150px;
    }
    .baner>h1 {
        letter-spacing: 9px;
        font-size: 71px;
        background: #D980FA4A;
        border-radius: 27px;
    }
    .baner>h1>span {
        color: red;
    }
    .baner>p {
        font-size: 41px;
        padding-top: 40px;
        font-weight: bold;
    }
    .baner>p>a {
        background-color: #D980FAB5;
        padding: 15px 75px;
        font-size: 24px;
        border: none;
        border-radius: 15px;
        font-weight: bold;
        color: #322e2e;
        transition: 0.5s;
    }
    .baner>p>a:hover {
        color: #ffffff;
        border: 2px solid #d980fa;
        background-color: transparent;
    }
    
   /* hero area end  */

/* HEADER AREA END */
/* main area start  */


                            /* first section start  */

    .first-section-title>h2 {
        font-size: 55px;
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
    }
   
    .first-section-title {
        box-shadow: 0px 0px 6px black;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 50px;
    }

    .first-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 15px;
    }
    .first-box-2 {
        overflow: hidden;
    }
    .first-box-2>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: 0.5s;
    }
    .first-box-2>img:hover {
        transform: scale(1.2);
        
    }
    .first-box-1 {
        padding: 10px;
    }
    .first-box-1>h2 {
        padding: 20px 0;
        font-weight: bold;
    }
    .first-box-1>p {
        padding: 10px 0;
        font-weight: bold;
    }
    .first-box-1>a {
        padding: 10px 2px;
        color:#000000;
        transition: 0.5s;

    }
    .first-box-1>hr {
        color: #d980fa;
    }
    .first-box-1>a:hover {
        background-image: linear-gradient(#30336b,#D980FA,#130f40);
        color: #ffffff;
        border-radius: 15px;
    }

                /* first section end  */

                /* second section start  */

    .second-section {
        margin: 0 150px;
        margin-bottom: 50px;
    }
    .second-title>h2 {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 90px;
        position:relative
    }
    .second-title>h2::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #f30909;
        width: 277px;
        height: 7px;
        top: 127px;
        left: 478px;
    }
    .skill-catagory {
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 15px;
       
    }
    .skill-catagory .box >img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        transition: 0.5s;
    }
    .skill-catagory .box >img:hover {
        transform: scale(1.2);
    }
    .skill-catagory .box {
        overflow: hidden;
    }


                /* second section end  */

 /* main area end   */

 /* footer area start  */

    .footer {
        background-color: #130f40;
    }
    .footer-area {
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .footer-column {
       display: grid;
       grid-template-columns: repeat(4,1fr);
       justify-content: space-between;
       column-gap: 15px;
    }
    .footer-box {
        padding: 10px 0;
        color: #ffffff;
    }
    .footer-box>h2 {
        font-weight: bold;
        padding: 10px 0;
    }
    hr {
        margin-bottom: 28px;
        width: 70%;
    }
    .footer-box>p {
        font-weight: bold;
        padding-bottom: 3px;
    }
    .footer-box>p>i {
        padding-right: 9px;
        color: blue;
    }
    .footer-box>ul {
        display: flex;
    }
    .footer-box>ul>li>a>i {
        padding: 8px;
        border-radius: 50%;
        color: blue;
        font-size: 18px;
        background-color: #ffffff;
        margin-right: 10px;
        margin-top: 11px;
        transition: 0.5s;
    }
    .footer-box>ul>li {
        display: inline-block;
    }
    .footer-box>ul>li>a>i:hover {
        transform: rotate(360deg);
        color: #ffffff;
        background-color: #D980FAB5;
    }
    .footer-box input[type=text],
    .footer-box input[type=email] {
        padding: 10px 10px;
        width: 100%;
        border-radius: 10px;
        border: none;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .footer-box input[type=submit] {
        width: 100%;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        background: #700101;
        font-weight: bold;
        color: #ffffff;
        padding: 10px 0;
        transition: 0.5s;
    }
    .footer-box input[type=submit]:hover {
        color: #000000;
        background-color: #ffffff;
    }

 /* footer area end  */

 .hamburger {
    display: none;
    height: fit-content;
    padding: 3px 8px;
    cursor: pointer;
    transition: 0.3s;
 }
 .hamburger:hover {
    background: #ffffff;
 }
 .hamburger div {
    width: 30px;
    height: 2px;
    background: black;
    margin: 6px;
 }


 /* responsive start  */

 

